[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
cymysql = "*"
flask-cors = "*"
flask-httpauth = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
